local lfs = require('lfs')
local success, error = pcall(function()
    log.write(%log_prefix%, log.INFO, "Loading script: %output_script_name%")
    dofile(lfs.writedir()..[[Scripts\%output_script_name%]])
end)

if not success then
    log.write(%log_prefix%, log.ERROR, "Failed to load script %output_script_name%: " .. tostring(error))
end
