apiVersion: apps/v1
kind: Deployment
metadata:
  name: dcs-pylot-dash
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: dcs-pylot-dash
  template:
    metadata:
      labels:
        app: dcs-pylot-dash
    spec:
      os:
        name: linux
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
        appArmorProfile:
          type: RuntimeDefault
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            appArmorProfile:
              type: RuntimeDefault
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          ports:
            - name: http
              containerPort: {{ .Values.container.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/v1/metadata
              port: {{ .Values.container.port }}
          readinessProbe:
            httpGet:
              path: /api/v1/metadata
              port: {{ .Values.container.port }}
